/**卡片阴影 */
$card-box-shadow: 3rpx 3rpx 6rpx #f5f4f4, -3rpx -3rpx 6rpx #f1f1f1;
$card-box-shadow-light: 0rpx 2rpx 4rpx 0rpx rgba(0, 0, 0, 0.05);
// 页面背景颜色
$page-bg-color: #f8f8f8;

// 圆角
$card-radius-base: 40rpx;

//字体大小
$font-size-sub: 24.5rpx;
$font-size-base: 28rpx;
$font-size-lg: 30rpx;
$font-size-sm: 21rpx;
$font-size-xl: 31.5rpx;

// -----------------社区中心界面-----------------
// 字体颜色
$font-color-gray: #4b5563;
$font-color-gray-light: #6b7280;
$font-color-gray-dark: #2b312c;
$font-color-gray-comment: #9ca3af;

$font-color-base-white: #ffffff;

// 字体粗细
$font-weight-light: 350;
$font-weight-normal: 400;

// ------------- 饮食记录界面
